@import '../../fonts.scss';

body {
  background-color: #f3f7fa;
}
.App {
  display: flex;
  justify-content: center;
  min-width: 100%;
}
.App img {
  margin-bottom: 10px;
}

.Wrapper {
  width: 757px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
* {
  scroll-behavior: smooth;
}
@media (max-width: 768px) {
  .Wrapper {
    width: 530px;
    justify-content: start;
  }
}
@media (max-width: 530px) {
  .Wrapper {
    width: 90%;
  }
}

