.container {
  box-sizing: content-box;
  height: 184px;
  width: 502px;
  margin-bottom: 22px;
  box-shadow: 0px 2px 5px 0px #c7c7c7;
  border-radius: 5px;
}
.content {
  height: 100%;
  color: #4a4a4a;
}
.row:nth-child(1) {
  height: 52px;
}
.row:nth-child(1) .col:nth-child(1) {
  font-size: 24px;
  color: #2196f3;
}
.subrow {
  font-family: 'open-sans';
}
.subrow:nth-child(1) {
  height: 18px;
  color: #A0B0B9;
  font-weight: 500;
  font-size: 12px;
}
.subrow:nth-child(2) {
  height: 22px;
  font-weight: 600;
}
.row:nth-child(n + 2) {
  height: 50px;
  font-weight: 600;
}
