@font-face {
  font-family:"open-sans" ;
  src: url(../public/OpenSans-Regular.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family:"open-sans" ;
  src: url(../public/OpenSans-Bold.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family:"open-sans" ;
  src: url(../public/OpenSans-SemiBold.woff) format("woff");
  font-weight: 600;
}